# Use this file with pip to install packages
--extra-index-url https://download.pytorch.org/whl/nightly/cu124

torch
torchvision
fire==0.6.0
tqdm==4.66.4
tokenizers==0.19.1
safetensors==0.4.2
pillow==10.4.0
numpy==1.26.4
sentencepiece==0.2.0
transformers==4.44.0
python-dotenv==1.0.1
