name: Python Package using Conda

on: [push]

jobs:
  build-linux-conda:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Build
      run: |
        make build
    - name: Run
      run: |
        make run
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
    - name: Clean
      run: |
        make clean
